<header class="navbar-wrapper">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= data.settings.name %></a>
    </div>
  </div>
</header>