<header class="navbar-wrapper">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <%= link_to data.settings.name, '/', class: 'navbar-brand' %>
    </div>
  </div>
</header>